<a href="https://colab.research.google.com/github/surajnimse/PCEP_Course_NTT_Data/blob/main/pcep_getting_started_with_python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
13//5

In [ ]:
num1=10
num2=20
num3=num1 #
num1=100
print(num1,num2,num3)

In [ ]:
'''
num_x="2"
print(num_x)
print(type(num_x))
'''
'''
num_x==2
print(num_x)
print(type(num_x))
'''
num_x=2
print(num_x)
print(type(num_x))


num_x=6-4
print(num_x)
print(type(num_x))

In [ ]:
"hello"+"world"
"hello"*3

In [ ]:
a=True
b=True
not b

In [ ]:
'''''
multi
license
'''''

In [ ]:
"python --version"

In [ ]:
bool
number
float
character
int

In [ ]:
cool_number = 12 + 30
cool_number * 5
print(cool_number)

In [ ]:
o_c = "40.6"
n_c = "60.8"
t_c = o_c + n_c
t_c

In [ ]:
t_c = float(o_c) + float(n_c)
t_c

In [ ]:
value_str = "Python world"
value_str = list(value_str)
value_str

In [ ]:
#swapping numbers
a=20
b=30
c=0
c=a
a=b
b=c
print("a =",a)
print("b =",b)

In [ ]:
a="six"
b=(int(a),float(a))

In [ ]:
a = [1, 'one', {2: 'two'}, 3]
b = len(a)

if b == 4:
   print('Length of this list is 4')
   if b == 5:
       print('Length of this list is 5')
   else:
         print(b)

In [ ]:
new_list = ["Red", "Blue", "White", "Green"]
z = sorted(new_list)
#d = list(z)
print(z)
#print(d)

In [ ]:
value = 4

a = str(value)
b = a + "^" + "2"
c = a + "^" + "3"

print(value, "+", b, "+", c)

In [ ]:
if 'bin' in {'float': 1.2, 'bin': 0b010}:
     print('a')
     print('b')
print('c')

In [ ]:
if None:
  print('Hi')

In [ ]:
#What are the results of evaluating the conditional expression?

a = 5
b = 10
c = "five"
#a == c
#a >= b
not(a < b and a > b)

In [ ]:
'1' + '2'

In [ ]:
# For Loops

for i in range(10):
  print(i)

In [ ]:
for letter in 'hello':
  print(letter)

In [ ]:
for letter in ['h','e','l','l','o']:
  print(letter)

In [ ]:
for char in 'hello':
  print(char)

In [ ]:
my_str="Hello World"
for char in my_str:
  print(char)

In [ ]:
for digit in "10":
  print(digit)

In [ ]:
for digit in 10:
  print(digit)

In [ ]:
for country in "India","USA","UK":
  print(country)

In [ ]:
dogs= ("pug","husky","golden retriever")
for dog in dogs:
  print("its a ",dog)

In [ ]:
dog_weight = (("Pug",20),
              ("husky",80),
              ("golden retriever",50),
              ("bullmust",40),
              ("bulldog",40),
              )
for i,(dog,weight) in enumerate(dog_weight):
  print("The dog at index %d is a %s and it's weight is %s"%(i,dog,weight))

In [ ]:
friends = ["John","Sam","Jill"]
for friends in friends:
  print("Happy New Year,",friends)

In [ ]:
students_score = {"John":70,"Sam":80,"Jill":50,"jack":45,"cook":89,"stell":46}
for student in students_score:
  print(student)

In [ ]:
for student in students_score:
  score = students_score[student]
  print(student," : ",score)

In [ ]:
students_score.keys()

In [ ]:
students_score.values()

In [ ]:
for key in students_score:
  print(key,students_score[key])

In [ ]:
for key_value in students_score.items():
  print(key_value)
print(type(key_value))

In [ ]:
# Else

for student,score in students_score.items():
  print("Student :", student,"\t Score", score)
else:
  print("Loop Completed")

In [ ]:
numbers = [4,6,9,10]
for num in numbers:
  quotient = num //2
  print(quotient, "is the quotient of", num, "/2")
else:
  print("All the numbers are processed")

In [ ]:
mixed_list = [145,
              10.5,
              1+3j,
              True,
              "Python",
              (0,-1),
               [2,-5],
               {"Class":"V","Section":"A"},
              ]
for item in mixed_list:
  print("Type of ",item,"is",type(item))

In [ ]:
num_list = [2,4,6,8,10]
for num in num_list:
  square = num**2
  #print("Square of ",num,"is",num**2)   #directly calculated in print statement.
  print("Square of ",num,"is",square)

In [ ]:
string = input("Enter a string: ")
count = 0
for i in string:
  count = count+1
print("Length of the string is",count)

In [ ]:
num_list = [2,4,6,8,10]
for num in num_list:
  print(num)
else:
  print("no more items left in the list")

In [ ]:
characters = {"a","b","c","d","e"}
for letter in characters:
  print(letter)
else:
  print("No more characters left")

In [ ]:
us_cities = ["New York","Los Angeles","Chicago","Houston","Phoenix"]
for city in us_cities:
  if city == "Houston":
    print(city,"is present in the list")

In [ ]:
numbers=[11,33,55,39,2,55,75,37,22,41,13]
for num in numbers:
  if num%2==0:
    print("The list contains an even number",num)

In [ ]:
years = [2016,2017,2018,2019,2020,2024,2025,2026,2027,2028]
for year in years:
  if year%4==0:
    print(year,"is a leap year")
  else:
    print(year,"is not a leap year")

In [ ]:
names = [["mary","lynda","jessika"],
         ["aaa","bbb","ccc"],
         ["xyz","abc","pqr"]
         ]

for sublist in names:
  print(sublist)

In [ ]:
for sublist in names:
  for name in sublist:
    print(name)

In [ ]:
colors_list = ["red","green","blue"]
objects_list = ["pen","marker","paper"]
for color in colors_list:
  for obj in objects_list:
    print(color,obj)

In [ ]:
my_range = range(5)
my_range

In [ ]:
tuple(my_range)

In [ ]:
list(my_range)

In [ ]:
list(range(2,8))

In [ ]:
list(range(-5,5))

In [ ]:
for i in range(6):
  print("Hello")

In [1]:
for num in range(5,10):
  print("number", num)

number 5
number 6
number 7
number 8
number 9

In [2]:
# Break Statement in for loop
for letter in "Python":
  if letter == "h":
    break
  print("Current Letter:",letter)

Current Letter: P
Current Letter: y
Current Letter: t

In [6]:
# Break Statement in for loop
for letter in "Python":
    print("Current Letter:",letter)
    if letter == "h":
      break

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: h

In [11]:
for letter in "icecream":
  if letter == "n":
    print("Letter C Found in string:",letter)
    break
else:
    print("Letter C Not Found:",letter)

Letter C Not Found: m

In [23]:
mylist = range(10)
for i in mylist:
    if i == 8:
        break
    print(i)

0
1
2
3
4
5
6
7

In [25]:
for i in range (1,10):
  if i >= 5:
    break
  print(i,"is less than 5")

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

In [33]:
mylist = range(100)
for i in mylist:
    if i ** 2 >= 100:
      break
    print(i,"square",i ** 2)

0 square 0
1 square 1
2 square 4
3 square 9
4 square 16
5 square 25
6 square 36
7 square 49
8 square 64
9 square 81

In [57]:
num = int(input("Enter a number :  "))
for i in range(2,num):
  if num % i ==0:
    print(num,"is not a prime number")
    break
else:
  print(num,"is a prime number")

Enter a number :  12
12 is not a prime number

In [59]:
for i in range(3):
  password = str(input("Enter Password  :"))
  if password == "suraj":
    print("access granted")
    break
  else:
    print("3 time wrong password entered")

Enter Password  :sura
3 time wrong password entered
Enter Password  :sur
3 time wrong password entered
Enter Password  :dhdh
3 time wrong password entered

In [60]:
for letter in "string":
  if letter == "i":
    continue
  print(letter)
print("The End")

s
t
r
n
g
The End

In [62]:
for letter in "students":
  if (letter == "e" or letter == "s"):
    continue
  else:
      print(letter)
print("The End")

t
u
d
n
t
The End

In [65]:
for i in range(1,10):
  if i % 2 ==0:
    print(i,"  Even Numner")
  else:
    continue
  print("Yes")

2   Even Numner
Yes
4   Even Numner
Yes
6   Even Numner
Yes
8   Even Numner
Yes

In [66]:
for i in range(1,10):
  if i % 2 ==0:
    print(i,"  Even Number")
    continue

2   Even Numner
4   Even Numner
6   Even Numner
8   Even Numner

In [71]:
for i in range(1,12):
  print()
  print("Before Continue Statement     " ,i)
  if i % 3 == 0:
    continue
  print("After the continue statement  ",i)

Before Continue Statement      1
After the continue statement   1

Before Continue Statement      2
After the continue statement   2

Before Continue Statement      3

Before Continue Statement      4
After the continue statement   4

Before Continue Statement      5
After the continue statement   5

Before Continue Statement      6

Before Continue Statement      7
After the continue statement   7

Before Continue Statement      8
After the continue statement   8

Before Continue Statement      9

Before Continue Statement      10
After the continue statement   10

Before Continue Statement      11
After the continue statement   11

In [82]:
numdays = [31,28,31,30,31,30,31,31,30,31,30,31]
months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numdays[0]
newdict = dict()
for i,j in zip(months,numdays):
  newdict.update({i:j})

  if newdict[i] <= 29:
    continue
  else:
    print(i,"   month has ",newdict[i],"  days")

Jan    month has  31   days
Mar    month has  31   days
Apr    month has  30   days
May    month has  31   days
Jun    month has  30   days
Jul    month has  31   days
Aug    month has  31   days
Sep    month has  30   days
Oct    month has  31   days
Nov    month has  30   days
Dec    month has  31   days

In [88]:
animals = ["dog","cat","rabbit","lion","tiger","giraffe","deer"]
for pet in animals:
  if pet == "cat":
    continue
  if pet =="Dog":
    break
  print(pet)

dog
rabbit
lion
tiger
giraffe
deer

In [89]:
for letter in "Python":
  if letter == "h":
    pass
    print("This is the pass block")
  print("Current Letter:",letter)
print("The End")

Current Letter: P
Current Letter: y
Current Letter: t
This is the pass block
Current Letter: h
Current Letter: o
Current Letter: n
The End

In [91]:
mystr = input("Enter a string: ")
digits = 0
letters= 0
for i in mystr:
  if i.isdigit():
    digits = digits + 1
  elif i.isalpha():
    letters = letters + 1
  else:
    pass
print("Letters = ",letters)
print("Digits = ",digits)

Enter a string: suraj1989
Letters =  5
Digits =  4

In [95]:
# Comprehensions
num = range(11)
[x * x for x in num]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [96]:
letters = [letter for letter in "suraj nimse"]
print(letters)

['s', 'u', 'r', 'a', 'j', ' ', 'n', 'i', 'm', 's', 'e']

In [98]:
listofwords = ["This","Is","A","List","Of","Words"]
items = [word[0] for word in listofwords]
items

['T', 'I', 'A', 'L', 'O', 'W']

In [99]:
[word.upper() for word in listofwords]

['THIS', 'IS', 'A', 'LIST', 'OF', 'WORDS']

In [100]:
[x * x for x in num if x % 2 != 0]

[1, 9, 25, 49, 81]

In [102]:
#Conditional Statements & Loops: Advanced Operations Using for Loops in Python

listofnum = [124,148,173,231,256,301,315,361,399]
for i in listofnum:
  if (i == 315):
    break
  if(i % 7 == 0):
    continue
  print(i," ",end ='')

124  148  173  256

\

In [103]:
original_list = [2,3,6,7,8,11,12,13,17,18]
cubes_list = [x**3 for x in original_list if x % 3 == 0]
print(cubes_list)

[27, 216, 1728, 5832]

In [104]:
[x * 3 if x <5 else x * 4 for x in [1, 4, 5]]

[3, 12, 20]

In [105]:
[x * 3 for x in [1, 4, 5]]

[3, 12, 15]