<a href="https://colab.research.google.com/github/surajnimse/PCEP_Course_NTT_Data/blob/main/pcep_getting_started_with_python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
13//5

In [ ]:
num1=10
num2=20
num3=num1 #
num1=100
print(num1,num2,num3)

In [ ]:
'''
num_x="2"
print(num_x)
print(type(num_x))
'''
'''
num_x==2
print(num_x)
print(type(num_x))
'''
num_x=2
print(num_x)
print(type(num_x))


num_x=6-4
print(num_x)
print(type(num_x))

In [ ]:
"hello"+"world"
"hello"*3

In [ ]:
a=True
b=True
not b

In [ ]:
'''''
multi
license
'''''

In [ ]:
"python --version"

In [ ]:
bool
number
float
character
int

In [ ]:
cool_number = 12 + 30
cool_number * 5
print(cool_number)

In [ ]:
o_c = "40.6"
n_c = "60.8"
t_c = o_c + n_c
t_c

In [ ]:
t_c = float(o_c) + float(n_c)
t_c

In [ ]:
value_str = "Python world"
value_str = list(value_str)
value_str

In [ ]:
#swapping numbers
a=20
b=30
c=0
c=a
a=b
b=c
print("a =",a)
print("b =",b)

In [ ]:
a="six"
b=(int(a),float(a))

In [ ]:
a = [1, 'one', {2: 'two'}, 3]
b = len(a)

if b == 4:
   print('Length of this list is 4')
   if b == 5:
       print('Length of this list is 5')
   else:
         print(b)

In [ ]:
new_list = ["Red", "Blue", "White", "Green"]
z = sorted(new_list)
#d = list(z)
print(z)
#print(d)

In [ ]:
value = 4

a = str(value)
b = a + "^" + "2"
c = a + "^" + "3"

print(value, "+", b, "+", c)

In [ ]:
if 'bin' in {'float': 1.2, 'bin': 0b010}:
     print('a')
     print('b')
print('c')

In [ ]:
if None:
  print('Hi')

In [ ]:
#What are the results of evaluating the conditional expression?

a = 5
b = 10
c = "five"
#a == c
#a >= b
not(a < b and a > b)

In [ ]:
'1' + '2'

In [ ]:
# For Loops

for i in range(10):
  print(i)

In [ ]:
for letter in 'hello':
  print(letter)

In [ ]:
for letter in ['h','e','l','l','o']:
  print(letter)

In [ ]:
for char in 'hello':
  print(char)

In [ ]:
my_str="Hello World"
for char in my_str:
  print(char)

In [ ]:
for digit in "10":
  print(digit)

In [ ]:
for digit in 10:
  print(digit)

In [ ]:
for country in "India","USA","UK":
  print(country)

In [ ]:
dogs= ("pug","husky","golden retriever")
for dog in dogs:
  print("its a ",dog)

In [ ]:
dog_weight = (("Pug",20),
              ("husky",80),
              ("golden retriever",50),
              ("bullmust",40),
              ("bulldog",40),
              )
for i,(dog,weight) in enumerate(dog_weight):
  print("The dog at index %d is a %s and it's weight is %s"%(i,dog,weight))

In [ ]:
friends = ["John","Sam","Jill"]
for friends in friends:
  print("Happy New Year,",friends)

In [ ]:
students_score = {"John":70,"Sam":80,"Jill":50,"jack":45,"cook":89,"stell":46}
for student in students_score:
  print(student)

In [ ]:
for student in students_score:
  score = students_score[student]
  print(student," : ",score)

In [ ]:
students_score.keys()

In [ ]:
students_score.values()

In [ ]:
for key in students_score:
  print(key,students_score[key])

In [ ]:
for key_value in students_score.items():
  print(key_value)
print(type(key_value))

In [ ]:
# Else

for student,score in students_score.items():
  print("Student :", student,"\t Score", score)
else:
  print("Loop Completed")

In [ ]:
numbers = [4,6,9,10]
for num in numbers:
  quotient = num //2
  print(quotient, "is the quotient of", num, "/2")
else:
  print("All the numbers are processed")

In [ ]:
mixed_list = [145,
              10.5,
              1+3j,
              True,
              "Python",
              (0,-1),
               [2,-5],
               {"Class":"V","Section":"A"},
              ]
for item in mixed_list:
  print("Type of ",item,"is",type(item))

In [ ]:
num_list = [2,4,6,8,10]
for num in num_list:
  square = num**2
  #print("Square of ",num,"is",num**2)   #directly calculated in print statement.
  print("Square of ",num,"is",square)

In [ ]:
string = input("Enter a string: ")
count = 0
for i in string:
  count = count+1
print("Length of the string is",count)

In [ ]:
num_list = [2,4,6,8,10]
for num in num_list:
  print(num)
else:
  print("no more items left in the list")

In [ ]:
characters = {"a","b","c","d","e"}
for letter in characters:
  print(letter)
else:
  print("No more characters left")

In [ ]:
us_cities = ["New York","Los Angeles","Chicago","Houston","Phoenix"]
for city in us_cities:
  if city == "Houston":
    print(city,"is present in the list")

In [ ]:
numbers=[11,33,55,39,2,55,75,37,22,41,13]
for num in numbers:
  if num%2==0:
    print("The list contains an even number",num)

In [ ]:
years = [2016,2017,2018,2019,2020,2024,2025,2026,2027,2028]
for year in years:
  if year%4==0:
    print(year,"is a leap year")
  else:
    print(year,"is not a leap year")

In [ ]:
names = [["mary","lynda","jessika"],
         ["aaa","bbb","ccc"],
         ["xyz","abc","pqr"]
         ]

for sublist in names:
  print(sublist)

In [ ]:
for sublist in names:
  for name in sublist:
    print(name)

In [ ]:
colors_list = ["red","green","blue"]
objects_list = ["pen","marker","paper"]
for color in colors_list:
  for obj in objects_list:
    print(color,obj)

In [ ]:
my_range = range(5)
my_range

In [ ]:
tuple(my_range)

In [ ]:
list(my_range)

In [ ]:
list(range(2,8))

In [ ]:
list(range(-5,5))

In [ ]:
for i in range(6):
  print("Hello")

In [125]:
for num in range(5,10):
  print("number", num)

TypeError: 'int' object is not callable