<a href="https://colab.research.google.com/github/surajnimse/PCEP_Course_NTT_Data/blob/main/pcep_getting_started_with_python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
13//5

In [ ]:
num1=10
num2=20
num3=num1 #
num1=100
print(num1,num2,num3)

In [ ]:
'''
num_x="2"
print(num_x)
print(type(num_x))
'''
'''
num_x==2
print(num_x)
print(type(num_x))
'''
num_x=2
print(num_x)
print(type(num_x))


num_x=6-4
print(num_x)
print(type(num_x))

In [ ]:
"hello"+"world"
"hello"*3

In [ ]:
a=True
b=True
not b

In [ ]:
'''''
multi
license
'''''

In [ ]:
"python --version"

In [ ]:
bool
number
float
character
int

In [ ]:
cool_number = 12 + 30
cool_number * 5
print(cool_number)

In [ ]:
o_c = "40.6"
n_c = "60.8"
t_c = o_c + n_c
t_c

In [ ]:
t_c = float(o_c) + float(n_c)
t_c

In [ ]:
value_str = "Python world"
value_str = list(value_str)
value_str

In [ ]:
#swapping numbers
a=20
b=30
c=0
c=a
a=b
b=c
print("a =",a)
print("b =",b)

In [ ]:
a="six"
b=(int(a),float(a))

In [ ]:
a = [1, 'one', {2: 'two'}, 3]
b = len(a)

if b == 4:
   print('Length of this list is 4')
   if b == 5:
       print('Length of this list is 5')
   else:
         print(b)

In [ ]:
new_list = ["Red", "Blue", "White", "Green"]
z = sorted(new_list)
#d = list(z)
print(z)
#print(d)

In [ ]:
value = 4

a = str(value)
b = a + "^" + "2"
c = a + "^" + "3"

print(value, "+", b, "+", c)

In [ ]:
if 'bin' in {'float': 1.2, 'bin': 0b010}:
     print('a')
     print('b')
print('c')

In [ ]:
if None:
  print('Hi')

In [ ]:
#What are the results of evaluating the conditional expression?

a = 5
b = 10
c = "five"
#a == c
#a >= b
not(a < b and a > b)

In [ ]:
'1' + '2'

In [ ]:
# For Loops

for i in range(10):
  print(i)

In [ ]:
for letter in 'hello':
  print(letter)

In [ ]:
for letter in ['h','e','l','l','o']:
  print(letter)

In [ ]:
for char in 'hello':
  print(char)

In [ ]:
my_str="Hello World"
for char in my_str:
  print(char)

In [ ]:
for digit in "10":
  print(digit)

In [ ]:
for digit in 10:
  print(digit)

In [44]:
for country in "India","USA","UK":
  print(country)

India
USA
UK

In [47]:
dogs= ("pug","husky","golden retriever")
for dog in dogs:
  print("its a ",dog)

its a  pug
its a  husky
its a  golden retriever

In [49]:
dog_weight = (("Pug",20),
              ("husky",80),
              ("golden retriever",50),
              ("bullmust",40),
              ("bulldog",40),
              )
for i,(dog,weight) in enumerate(dog_weight):
  print("The dog at index %d is a %s and it's weight is %s"%(i,dog,weight))

The dog at index 0 is a Pug and it's weight is 20
The dog at index 1 is a husky and it's weight is 80
The dog at index 2 is a golden retriever and it's weight is 50
The dog at index 3 is a bullmust and it's weight is 40
The dog at index 4 is a bulldog and it's weight is 40

In [50]:
friends = ["John","Sam","Jill"]
for friends in friends:
  print("Happy New Year,",friends)

Happy New Year, John
Happy New Year, Sam
Happy New Year, Jill

In [54]:
students_score = {"John":70,"Sam":80,"Jill":50,"jack":45,"cook":89,"stell":46}
for student in students_score:
  print(student)

John
Sam
Jill
jack
cook
stell

In [58]:
for student in students_score:
  score = students_score[student]
  print(student," : ",score)

John  :  70
Sam  :  80
Jill  :  50
jack  :  45
cook  :  89
stell  :  46

In [59]:
students_score.keys()

dict_keys(['John', 'Sam', 'Jill', 'jack', 'cook', 'stell'])

In [60]:
students_score.values()

dict_values([70, 80, 50, 45, 89, 46])

In [66]:
for key in students_score:
  print(key,students_score[key])

John 70
Sam 80
Jill 50
jack 45
cook 89
stell 46

In [68]:
for key_value in students_score.items():
  print(key_value)
print(type(key_value))

('John', 70)
('Sam', 80)
('Jill', 50)
('jack', 45)
('cook', 89)
('stell', 46)
<class 'tuple'>

In [71]:
# Else

for student,score in students_score.items():
  print("Student :", student,"\t Score", score)
else:
  print("Loop Completed")

Student : John 	 Score 70
Student : Sam 	 Score 80
Student : Jill 	 Score 50
Student : jack 	 Score 45
Student : cook 	 Score 89
Student : stell 	 Score 46
Loop Completed

In [74]:
numbers = [4,6,9,10]
for num in numbers:
  quotient = num //2
  print(quotient, "is the quotient of", num, "/2")
else:
  print("All the numbers are processed")

2 is the quotient of 4 /2
3 is the quotient of 6 /2
4 is the quotient of 9 /2
5 is the quotient of 10 /2
All the numbers are processed

In [75]:
mixed_list = [145,
              10.5,
              1+3j,
              True,
              "Python",
              (0,-1),
               [2,-5],
               {"Class":"V","Section":"A"},
              ]
for item in mixed_list:
  print("Type of ",item,"is",type(item))

Type of  145 is <class 'int'>
Type of  10.5 is <class 'float'>
Type of  (1+3j) is <class 'complex'>
Type of  True is <class 'bool'>
Type of  Python is <class 'str'>
Type of  (0, -1) is <class 'tuple'>
Type of  [2, -5] is <class 'list'>
Type of  {'Class': 'V', 'Section': 'A'} is <class 'dict'>

In [77]:
num_list = [2,4,6,8,10]
for num in num_list:
  square = num**2
  #print("Square of ",num,"is",num**2)   #directly calculated in print statement.
  print("Square of ",num,"is",square)

Square of  2 is 4
Square of  4 is 16
Square of  6 is 36
Square of  8 is 64
Square of  10 is 100

In [78]:
string = input("Enter a string: ")
count = 0
for i in string:
  count = count+1
print("Length of the string is",count)

Enter a string: suraj
Length of the string is 5

In [79]:
num_list = [2,4,6,8,10]
for num in num_list:
  print(num)
else:
  print("no more items left in the list")

2
4
6
8
10
no more items left in the list

In [80]:
characters = {"a","b","c","d","e"}
for letter in characters:
  print(letter)
else:
  print("No more characters left")

a
e
b
c
d
No more characters left

In [84]:
us_cities = ["New York","Los Angeles","Chicago","Houston","Phoenix"]
for city in us_cities:
  if city == "Houston":
    print(city,"is present in the list")

Houston is present in the list

In [86]:
numbers=[11,33,55,39,2,55,75,37,22,41,13]
for num in numbers:
  if num%2==0:
    print("The list contains an even number",num)

The list contains an even number 2
The list contains an even number 22

In [88]:
years = [2016,2017,2018,2019,2020,2024,2025,2026,2027,2028]
for year in years:
  if year%4==0:
    print(year,"is a leap year")
  else:
    print(year,"is not a leap year")

2016 is a leap year
2017 is not a leap year
2018 is not a leap year
2019 is not a leap year
2020 is a leap year
2024 is a leap year
2025 is not a leap year
2026 is not a leap year
2027 is not a leap year
2028 is a leap year

In [89]:
names = [["mary","lynda","jessika"],
         ["aaa","bbb","ccc"],
         ["xyz","abc","pqr"]
         ]

for sublist in names:
  print(sublist)

['mary', 'lynda', 'jessika']
['aaa', 'bbb', 'ccc']
['xyz', 'abc', 'pqr']

In [90]:
for sublist in names:
  for name in sublist:
    print(name)

mary
lynda
jessika
aaa
bbb
ccc
xyz
abc
pqr

In [91]:
colors_list = ["red","green","blue"]
objects_list = ["pen","marker","paper"]
for color in colors_list:
  for obj in objects_list:
    print(color,obj)

red pen
red marker
red paper
green pen
green marker
green paper
blue pen
blue marker
blue paper

In [97]:
my_range = range(5)
my_range

range(0, 5)

In [98]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [99]:
list(my_range)

[0, 1, 2, 3, 4]

In [100]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [101]:
list(range(-5,5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]